:root {
    --primary: #0a2540;
    --accent: #2563eb;
    --light: #f8fafc;
    --text: #0f172a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--text);
    background: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 100;
}


/* LOGO */
.logo img {
    height: 72px;
    width: auto;
    display: block;
    transform: scale(2);
    transform-origin: left center;
}


/* LOGO HOVER */
.logo a:hover {
    opacity: 0.9;
}

/* NAV LINKS */
.navbar a {
    color: #334155;
    margin-left: 28px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #2563eb;
}



/* HERO */
.hero {
    padding: 110px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #f8fafc, white);
}

.hero h1 {
    font-size: 46px;
    max-width: 800px;
    margin: auto;
    line-height: 1.2;
}

.hero p {
    margin-top: 16px;
    font-size: 18px;
    color: #475569;
}

.hero button {
    margin-top: 28px;
    padding: 14px 36px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


/* SECTIONS */
.section {
    padding: 70px 40px;
}

.light {
    background: #f7f9fc;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    padding: 25px;
    background: white;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 500;
}

/* CONTACT */
.whatsapp {
    margin-top: 20px;
    padding: 12px 25px;
    background: #25d366;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--primary);
    color: white;
}
